img {
  max-width: 70%;
}

.bluecard {
  padding: 20px;
  background-color: cadetblue;
  font-size: 24px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border-radius: 20px; */
  border-style: solid;
  border-width: 1px;
  margin: 15px;
  width: 100%;
  margin-top: 20%;
}

.about {
  font-size: 32px !important;
  font-family: sans-serif;
}
